@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --rubik: "Rubik", sans-serif;
    --serif: sans-serif;
    --nav-bg: #202830;
    --bd: 1px solid red;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background: #09f;
    color: #fff;
}
body {
    background: #f1f5f8;
    background: #f3f6fb;
}
#nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-bg);
    padding: 0 15px;
    z-index: 10000;
}
#nav #logo {
    display: flex;
    align-items: center;
}
#nav #logo a {
    display: block;
    color: #6F6F6F;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--rubik);
}
#nav #logo img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}
#nav #nav-links {
    display: flex;
}
#nav #nav-links li {
    list-style: none;
    margin-right: 15px;
}
#nav #nav-links li a {
    color: #b2bac2;
    text-decoration: none;
    font-size: 14px;
    transition: 0.5s;
    font-family: var(--rubik);
}
#nav #nav-links li a:hover {
    color: #fff;
}
#nav #nav-links li a .icon {
    display: none;
}
#nav #hamburger {
    display: none;
}

@media(max-width:467px) {
    * {
        cursor: none;
    }
    #nav #nav-links li a .icon {
        display: inline-block;
        margin-right: 10px;
    }
    #nav #hamburger {
        display: grid;
        place-items: center;
        width: 20px;
        height: 15px;
    }
    #nav #hamburger #menu-line {
        position: relative;
        width: 100%;
        height: 1px;
        background: #fff;
        transition: .5s;
        border-radius: 4px;
    }
    #nav #hamburger #menu-line::before,
    #nav #hamburger #menu-line::after
    {
        border-radius: 4px;
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #fff;
        transition: .5s;
    }
    #nav #hamburger #menu-line::before {
        top: -7px;
    }
    #nav #hamburger #menu-line::after {
        bottom: -7px;
    }
    #nav #hamburger.active #menu-line {
        transform: translateX(-45px);
        background: transparent;
    }
    #nav #hamburger.active #menu-line::before {
        top: 0;
        transform: translateX(45px) rotate(-45deg);
    }
    #nav #hamburger.active #menu-line::after {
        bottom: 0;
        transform: translateX(45px) rotate(45deg);
    }

    #nav #nav-links {
        position: absolute;
        display: block;
        top: 0;
        left: -100%;
        width: 230px;
        height: 100vh;
        background: #212429;
        transition: .5s;
    }
    #nav #nav-links.show {
        left: 0;
    }
    #nav #nav-links li {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
    }
    #nav #nav-links li a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        font-family: var(--rubik);
        color: #b2bac2;
    }

    #nav #nav-links li a:hover {
        color: #f2f2f2;
        background: #349AEF;
        border-top: 1px dotted #ACD5F6;
        border-bottom: 1px dotted #ACD5F6;
    }
}

#loader {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f3f6fb;
    z-index: 10000000;
}
#loader-circle {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(180deg, #005eff, #b0cdff);
    animation: rotate 0.5s linear infinite;
}
#loader-circle:after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: #f3f6fb;
}
#loader-circle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    border-radius: 50%;
    background: linear-gradient(90deg, transparent 50%, #f3f6fb 50%);
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
.container::before {
    content: "";
    position: absolute;
    top: -100vw;
    left: -150vw;
    width: 300vw;
    height: 300vw;
    border-radius: 50%;
    background: #1967D3;
    z-index: -1;
    pointer-events: none;
}
.text {
    text-align: center;
    color: #fff;
    font-family: var(--rubik);
    margin-top: 30px;
}
.text > * {
    text-align: center;
}
.container .illustrationImg {
    position: absolute;
    left: -60px;
    width: 140%;
    height: 370px;
    z-index: -1;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 290px;
}
.card {
    position: relative;
    display: block;
    width: 70%;
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin: 0 auto 40px auto;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,112,255,0.07);
}

.card > * {
    position: relative;
    z-index: 2;
}
.card img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
.card .title {
    font-size: 28px;
    text-align: center;
    font-family: var(--rubik);
    font-weight: 500;
    color: #495359;
    margin-top: 5px;
}
.card .desc {
    text-align: center;
    color: #505b61;
    margin-top: 3px;
    font-family: var(--rubik);
}
.card button {
    display: block;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background: linear-gradient(120deg, #00a5ff, #005fff);
    box-shadow: 0 5px 10px rgba(0,139,255,0.2);
    border-radius: 20px;
    margin: 20px auto 0 auto;
    color: #fff;
    transition: .5s;
    font-family: var(--rubik);
}
.card button:hover {
    transform: scale(0.9);
}
.card section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: #09f;
}

.test-container {
    position: relative;
    width: 100vw;
    display: none;
    margin-top: 50px;
    overflow: hidden;
    background: #f3f6fb;
}
.row {
    display: flex;
    align-items: center;
}
#test-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background: var(--nav-bg);
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 10000;
}
#test-nav img {
    width: 30px;
    height: 30px;
}
#test-nav .icon {
    color: rgba(255,255,255,1);
    font-size: 24px;
}
#test-nav #time {
    color: #fff;
    font-family: var(--rubik);
}
#test-nav #test-btn {
    width: 20px;
    height: 20px;
}
.test-container #text {
    position: relative;
    display: block;
    width: 90%;
    padding: 20px;
    background: #fff;
    font-family: var(--rubik);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin: 25px auto 55px auto;
    border-radius: 10px;
    background: rgba(255,255,255,0.2);
    user-select: none!important;
    box-shadow: 0 0 20px rgba(0,112,255,0.07);
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.circle:nth-child(1) {
    top: -40px;
    left: -70px;
    width: 200px;
    height: 200px;
    background: #09f;
}
.circle:nth-child(2) {
    top: 450px;
    right: -100px;
    width: 250px;
    height: 250px;
    background: #f04;
}
.test-container .typing-row {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
}
.test-container #input {
    width: calc(100% - 40px);
    height: 100%;
    background: #fff;
    border: none;
    padding: 0 10px;
    outline: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    caret-color: #09f;
    background: #202830;
    color: #fff;
    color: #c0e6ff;
}
.test-container #continueBtn {
    display: grid;
    place-items: center;
    width: 40px;
    height: 100%;
    background: #09f;
    color: #fff;
    transition: .5s;
}
#continueBtn:hover {
    background: #007fd4;
}

.result-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: #f3f6fb;
    background: #f1f5f8;
    display: none;
    /*margin-top: 50px;*/
    background: #fff;
}
#result-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background: var(--nav-bg);
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 10000;
}
#result-nav div:nth-child(1) {
    color: #fff;
    font-family: var(--rubik);
    font-size: 18px;
}
#result-nav #result-back-btn {
    display: grid;
    place-items: center;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: rgba(255,255,255,1);
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500px;
    overflow: hidden;
    background: #09f;
}
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../img/wave.png");
    background-size: 1000px 100px;
}
.wave.wave1 {
    animation: animate 30s linear infinite;
    bottom: 0;
    opacity: 1;
    animation-delay: 0s;
    z-index: 4;
}
.wave.wave2 {
    animation: animate2 15s linear infinite;
    bottom: 10px;
    opacity: 0.5;
    animation-delay: -5s;
    z-index: 3;
}
.wave.wave3 {
    animation: animate 15s linear infinite;
    bottom: 15px;
    opacity: 0.2;
    animation-delay: -2s;
    z-index: 2;
}
.wave.wave4 {
    animation: animate2 5s linear infinite;
    bottom: 20px;
    opacity: 0.7;
    animation-delay: -5s;
    z-index: 1;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

.result-container #result-box {
    position: relative;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-family: var(--rubik);
}
.progress {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 100px;
}
.progress svg {
    position: relative;
    width: 150px;
    height: 150px;
}
.progress svg circle {
    position: relative;
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}
.progress svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: rgba(255, 255, 255, 0.1);
}
.progress svg circle:nth-child(2) {
    stroke: #a8fff6;
    stroke: #7AD0E5;
}
.progress-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}
.progress-percent span {
    font-size: 20px;
}
.progress-text {
    position: absolute;
    top: 78%;
    font-size: 12px;
    color: #fff;
}
.result-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px auto;
    width: 90%;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #FF77A5, #FFAAAC);
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    z-index: 5;
    color: #495359;
    font-family: var(--rubik);
    background: linear-gradient(339deg, rgba(47, 47, 47, 0.02) 0%, rgba(47, 47, 47, 0.02) 42%, transparent 42%, transparent 99%, rgba(17, 17, 17, 0.02) 99%, rgba(17, 17, 17, 0.02) 100%), linear-gradient(257deg, rgba(65, 65, 65, 0.02) 0%, rgba(65, 65, 65, 0.02) 11%, transparent 11%, transparent 92%, rgba(53, 53, 53, 0.02) 92%, rgba(53, 53, 53, 0.02) 100%), linear-gradient(191deg, rgba(5, 5, 5, 0.02) 0%, rgba(5, 5, 5, 0.02) 1%, transparent 1%, transparent 45%, rgba(19, 19, 19, 0.02) 45%, rgba(19, 19, 19, 0.02) 100%), linear-gradient(29deg, rgba(28, 28, 28, 0.02) 0%, rgba(28, 28, 28, 0.02) 33%, transparent 33%, transparent 40%, rgba(220, 220, 220, 0.02) 40%, rgba(220, 220, 220, 0.02) 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.result-card p:nth-child(1) {
    font-size: 42px;
    font-weight: 500;
}
.result-card p:nth-child(1) span {
    font-size: 14px;
    font-size: 400;
    font-style: italic;
}


#game-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: #f3f6fb;
    background: #f1f5f8;
    display: none;
    background: #fff;
    padding-top: 50px;
}
#game-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background: var(--nav-bg);
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 10000;
}
#game-nav #game-heading {
    color: #fff;
    font-family: var(--rubik);
    font-size: 18px;
}
#game-nav #game-back-btn {
    display: grid;
    place-items: center;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: rgba(255,255,255,1);
}

canvas {
    display: block;
    margin: 30px auto 0 auto;
}

#score {
    position: absolute;
    top: 90px;
    left: 40px;
    color: #495359;
    font-family: var(--rubik);
}
#restart {
    position: absolute;
    top: calc(70px + 250px/2 - 30px/2);
    left: calc(50% - 100px/2);
    width: 100px;
    height: 30px;
    background: #09f;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    border: 4px double #fff;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
#restart:hover {
    background: #0080d6;
}
#game-input {
    position: absolute;
    top: -200%;
    left: -200%;
}
#openKeyboard {
    display: block;
    margin: 15px auto;
    width: 100px;
    height: 30px;
    background: #09f;
    color: #fff;
    border-radius: 4px;
    outline: none;
    border: 4px double #fff;
    transition: 0.5s;
}
#openKeyboard:hover {
    background: #0080d6;
}

#contact-us-heading {
    color: #495359;
    font-family: var(--rubik);
    text-align: center;
    margin-bottom: 5px;
}

.contact-us-input-box {
    position: relative;
    width: 80%;
    display: block;
    margin: 15px auto;
    margin-bottom: 25px;
}
.contact-us-input-box input,
.contact-us-input-box textarea
{
    width: 100%;
    height: 25px;
    background: none;
    border: none;
    border-bottom: 1.5px solid #ddd;
    padding: 5px;
    outline: none;
    caret-color: #0084ff;
    transition: 0.5s;
    font-family: var(--rubik);
}
.contact-us-input-box textarea {
    height: 60px;
    resize: none;
}
.contact-us-input-box label {
    position: absolute;
    top: 3px;
    left: 5px;
    color: #495359;
    transition: .5s;
    font-family: var(--rubik);
    user-select: none;
    pointer-events: none;
}
.contact-us-input-box input:focus ~ label,
.contact-us-input-box textarea:focus ~ label,
.contact-us-input-box input:valid ~ label,
.contact-us-input-box textarea:valid ~ label
{
    color: #0084ff;
    font-size: 12px;
    top: -12px;
}

.contact-us-input-box input:focus,
.contact-us-input-box textarea:focus
{
    border-bottom-color: #0084ff;
}

.contact-us-input-box input:valid,
.contact-us-input-box textarea:valid
{
    border-bottom-color: #0084ff;
}
#contact-us {
    display: block;
    width: 70%;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    background: rgba(255,255,255,0.2);
    background: #F3F7FA;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,112,255,0.07);
}
#contact-us-submit-btn {
    display: block;
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    background: linear-gradient(120deg, #00a5ff, #005fff);
    box-shadow: 0 5px 10px rgba(0,139,255,0.2);
    border-radius: 20px;
    margin: 10px auto;
    color: #fff;
    transition: .5s;
    font-family: var(--rubik);
}
#contact-us-submit-btn:hover {
    transform: scale(0.9);
}

#about-us {
    position: relative;
    display: block;
    width: 70%;
    margin: 0 auto 30px auto;
    background: rgba(255,255,255,0.2);
    background: #F3F7FA;
    background: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    box-shadow: 0 0 20px rgba(0,112,255,0.07);
}
#about-us-heading {
    color: #495359;
    text-align: center;
    font-family: var(--rubik);
    margin-bottom: 10px;
}
#about-us p {
    text-align: center;
    color: #5e6c73;
    font-family: var(--rubik);
}


#history-container {
    display: none;
    position: relative;
    width: 100vw;
    background: #f3f6fb;
}

#history-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background: var(--nav-bg);
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 10000;
}
#history-nav div:nth-child(1) {
    color: #fff;
    font-family: var(--rubik);
    font-size: 18px;
}
#history-nav #history-back-btn {
    display: grid;
    place-items: center;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: rgba(255,255,255,1);
}


.previous-result-cards {
    margin-top: 70px;
}

.previous-result-card {
    display: block;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,112,255,0.07);
}

.previous-result-progress-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-family: var(--rubik);
}
.previous-result-progress {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 15px;
}
.previous-result-progress svg {
    position: relative;
    width: 150px;
    height: 150px;
}
.previous-result-progress svg circle {
    position: relative;
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 240;
    stroke-linecap: round;
}
.previous-result-progress svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: rgba(0,112,255,0.1);
}
.previous-result-progress svg circle:nth-child(2) {
    stroke: rgb(0,112,255);
}
.previous-result-progress-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #495359;
}
.previous-result-progress-percent span {
    font-size: 20px;
}
.previous-result-progress-text {
    position: absolute;
    top: 65%;
    font-size: 12px;
    color: #495359;
}

.previous-result-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 150px;
    padding: 20px;
    margin: 15px auto;
    background: url("../img/background.jpg");
    background-size: 100% 100%;
    border-radius: 15px;
    color: #fff;
    font-family: var(--rubik);
}
.previous-result-box p:nth-child(1) {
    font-size: 42px;
    font-weight: 500;
}
.previous-result-box p:nth-child(1) span {
    font-size: 14px;
    font-size: 400;
    font-style: italic;
}
.previous-result-date {
    font-size: 14px;
    color: #495359;
    text-align: center;
    font-family: var(--rubik);
}
.message {
    font-family: var(--rubik);
    color: #495359;
    padding: 0 20px;
    text-align: center;
}
